mixin items(name)
    a.header__navitem(href='')= name

mixin links(link, name)
    li.header__navlink 
        a(href= link)= name

mixin linksmore(link, target, name)
    li.header__navlink.more
        a(href= link, target= target)= name

mixin collapse(link, target, name)
    a.header__navitem.collapse(href= link, target= target)= name

header
    .bar
        i.fa-solid.fa-bars
    .icon__left
        i.fa.fa-volume-down
    .header__img
        img(src='/images/download.png')
    .header__navwrap
        .header__navbar
            +items('Trang Chủ')
            +items('Tin Tức')
            +items('Nhân vật')
            .header__navitem.dropdown
                p Tư liệu
                .icon
                    i.fa.fa-caret-down
                    ul.header__navitem__list
                        +links('https://genshin.hoyoverse.com/en/game', 'Giới thiệu game')
                        +links('https://genshin.hoyoverse.com/en/map', 'Thế Giới')
                        +links('https://genshin.hoyoverse.com/en/town', 'Tạp Chí')
                        +links('https://genshin.hoyoverse.com/en/game', 'Truyện Tranh')
            .header__navitem.dropdown.more
                p Khác
                .icon
                    i.fa.fa-caret-down
                    ul.header__navitem__list.more
                        +linksmore('https://www.hoyolab.com/home?utm_source=officialweb&utm_medium=game&utm_campaign=nav&utm_id=2', '_blank', 'HoYoLAB')
                        +linksmore('https://sdk.hoyoverse.com/payment/genshin/index.html#/', '_blank', 'Trung Tâm Nạp')
                        +linksmore('https://genshin.hoyoverse.com/vi/gift', '', 'Mã Quà')
            +collapse('https://www.hoyolab.com/home?utm_source=officialweb&utm_medium=game&utm_campaign=nav&utm_id=2', '_blank', 'HoYoLAB')
            +collapse('https://sdk.hoyoverse.com/payment/genshin/index.html#/', '_blank', 'Trung Tâm Nạp')
            +collapse('https://genshin.hoyoverse.com/vi/gift', '', 'Mã Quà')
    .header__login
        button.login
            span Đăng Nhập
            img(src='/images/login.png', alt='login-icon')
    .header__download
            img(src='/images/taigame.png', alt='download')