$color-body-title: #393b40;
$color-info: #9f3;
$color-events: #ffc000;
$color-update: #bc80ff;
$color-category-item: #f4d8a8;
$color-date: #999;
@mixin transform($X: 1.2) {
    -webkit-transform: scale($X);
    -ms-transform: scale($X);
    transform: scale($X);
}

@mixin transition-duration($X: 0.5s, $Y: 1s, $Z: 2s, $W: 4s) {
    -webkit-transition-duration: $X;
    -o-transition-duration: $X;
    transition-duration: $X;
}

@mixin transition-delay($X: 0.5s, $Y: 1s, $Z: 2s, $W: 4s) {
    -webkit-transition-delay: $X;
    -o-transition-delay: $X;
    transition-delay: $X;
}

@mixin transition-timing-function($X: ease, $Y: linear, $Z: ease-in, $W: ease-out, $ZW: ease-in-out) {
    -webkit-transition-timing-function: $X;
    -o-transition-timing-function: $X;
    transition-timing-function: $X;
}

@mixin transition-property($X: none, $Y: height, $Z: all) {
    -webkit-transition-property: $Z;
    -o-transition-property: $Z;
    transition-property: $Z;
}

@mixin text-overflow {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.body {
    position: relative;
    z-index: 1;
    width: 1280px;
    left: 50%;
    margin-left: -640px;
    min-height: 1240px;
    padding-bottom: 208px;
    .recommend {
        @include flex;
        @include justifysb;
        padding-top: 146px;
        width: 100%;
        height: 550px;
        list-style-type: none;
    }
    .recommend__img {
        width: 100%;
        height: 100%;
    }
    .coverfit {
        -o-object-fit: cover;
        object-fit: cover;
    }
    .recommend__item {
        position: relative;
        width: 420px;
        height: 450px;
        background-color: rgba(18, 18, 18, 0.8);
        border-radius: 4px;
        opacity: 0.9;
    }
    .recommend__item img {
        @include transition-duration;
        @include transition-delay;
        @include transition-timing-function;
        @include transition-property;
        -webkit-transition: all 0.5s 0s ease;
        -o-transition: all 0.5s 0s ease;
        transition: all 0.5s 0s ease;
    }
    .recommend__item:hover img {
        opacity: 1;
        @include transform;
    }
    .recommend__item-carousel {
        position: relative;
        width: 420px;
        height: 450px;
        background-color: rgba(18, 18, 18, 0.8);
        border-radius: 4px;
        opacity: 0.9;
        margin-left: 400px;
    }
    .recommend__item-carousel img {
        @include transition-duration;
        @include transition-delay;
        @include transition-timing-function;
        @include transition-property;
        -webkit-transition: all 0.5s 0s ease;
        -o-transition: all 0.5s 0s ease;
        transition: all 0.5s 0s ease;
    }
    .recommend__item-carousel:hover img {
        opacity: 1;
        @include transform;
    }
    .news__title {
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 24px;
        color: $color-body-title;
        text-decoration: none;
        overflow: hidden;
    }
    .news__title .ellipsis {
        overflow: hidden;
        @include text-overflow;
        white-space: nowrap;
    }
    .recommend__imgwrap {
        width: 380px;
        height: 190px;
        margin: 20px auto;
        overflow: hidden;
    }
    .recommend__title {
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 34px;
        color: #fefefe;
        padding: 0 17px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        @include text-overflow;
        -webkit-box-orient: vertical;
        white-space: normal;
        max-height: 70px;
        margin: 10px 0;
    }
    .recommend__summary {
        display: inline-block;
        width: 100%;
        font-size: 16px;
        line-height: 22px;
        color: $main-color;
        padding: 0 17px;
        max-height: 88px;
        overflow: hidden;
        word-wrap: break-word;
        white-space: normal;
    }
    .recommend__meta {
        @include flex;
        @include justifysb;
        @include box-sizing;
        position: absolute;
        left: 0;
        bottom: 15px;
        width: 100%;
        padding: 0 20px;
    }
    .recommend__date {
        display: inline-block;
        color: $color-date;
        font-size: 16px;
        line-height: 22px;
    }
    .recommend__category-events {
        color: $color-events;
        text-align: right;
        margin-right: -240px;
    }
    .recommend__category-info {
        color: $color-info;
    }
    .category {
        margin-top: 38px;
        list-style-type: none;
    }
    .category__item--active {
        background-color: $color-body-title !important;
        color: $color-category-item !important;
    }
    .category__item {
        display: inline-block;
        min-width: 155px;
        height: 36px;
        line-height: 36px;
        background-color: rgba(57, 59, 64, 0.18);
        color: #393b40;
        border-radius: 4px;
        text-align: center;
        margin-right: 20px;
        cursor: pointer;
        &:hover {
            background-color: $color-body-title;
            color: $color-category-item;
        }
    }
    .news {
        margin-top: 38px;
        list-style-type: none;
        height: auto;
        -webkit-transition: all 0.5s 0s ease;
        -o-transition: all 0.5s 0s ease;
        transition: all 0.5s 0s ease;
    }
    .news__item {
        position: relative;
        // min-height: 140px;
        background-color: #fafafa;
        padding: 15px 20px;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    .news__item::before {
        display: block;
        content: '';
        position: absolute;
        z-index: 1;
        top: -3px;
        bottom: -3px;
        left: -3px;
        right: -3px;
        border: 3px solid rgba(57, 59, 64, 0.15);
        border-radius: 4px;
        opacity: 0;
    }
    // .news__item:hover {
    //     border: 3px solid rgba(57, 59, 64, 0.15);
    // }
    .news__content {
        @include flex;
    }
    .news__content img {
        width: 265px;
        height: 140px;
        margin-right: 20px;
    }
    .ellipsis {
        @include text-overflow;
        white-space: nowrap;
    }
    .news__info {
        margin-top: -25px;
    }
    .news__info h3 {
        font-size: 24px;
        font-weight: 400;
    }
    .news__info p {
        line-height: 22px;
        margin-top: -10px;
    }
    .news__summary {
        position: relative;
        font-size: 16px;
        color: #7d7d7d;
        overflow: hidden;
        word-wrap: break-word;
        white-space: normal;
        margin-bottom: 20px;
    }
    .news__meta {
        position: absolute;
        z-index: 1;
        bottom: 46px;
        right: 0;
        @include flex;
        @include justifyend;
        width: 300px;
        padding: 0 20px;
        @include box-sizing;
        margin-bottom: -32px;
    }
    .news__date {
        color: $color-date;
    }
    .news__category-events {
        color: $color-events;
        width: 30px;
        text-decoration: none;
        cursor: pointer;
        margin-left: 56px;
    }
    .news__category-info {
        color: $color-info;
        width: 30px;
        text-decoration: none;
        cursor: pointer;
        margin-left: -18px;
    }
    .news__more {
        height: 40px;
        line-height: 40px;
        background-color: $color-body-title;
        border-radius: 4px;
        opacity: 0.8;
        text-align: center;
        font-size: 18px;
        color: $main-header-color;
        cursor: pointer;
        -webkit-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        margin-top: 40px;
        &:hover {
            opacity: 0.6;
        }
    }
}