$main-color: #F0F0F0;
$main-font: Tahoma,
Helvetica,
Arial,
sans-serif;
@mixin flex() {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

@mixin align() {
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

@mixin justifyend() {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@mixin justifysb() {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin justifycen() {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin box-sizing {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.home {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: $main-font !important;
    background-color: $main-color;
}

.home::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: $main-color url(/images/bg.jpg) no-repeat center;
    background-size: cover;
}