%message-shared {
    background-color: #000000;
    text-align: center;
}

%icon-shared {
    opacity: 1;
    color: #FFFFFF;
}

footer {
    position: relative;
    width: 100%;
    background-color: #111;
    margin: 0 auto;
    color: #fff;
    .footer__top {
        position: relative;
        width: 100%;
        height: 52px;
        line-height: 52px;
        letter-spacing: 28px;
        font-size: 26px;
        color: #999;
        left: 50%;
        margin-left: -640px;
    }
    .footer__top a {
        color: #999;
    }
    .fa-facebook-f:hover {
        @extend %icon-shared;
    }
    .fa-twitter:hover {
        @extend %icon-shared;
    }
    .fa-youtube:hover {
        @extend %icon-shared;
    }
    .fa-instagram:hover {
        @extend %icon-shared;
    }
    .fa-discord:hover {
        @extend %icon-shared;
    }
    .fa-reddit-alien:hover {
        @extend %icon-shared;
    }
    .footer .footer__top i {
        padding-top: 3px;
        padding-bottom: 13px;
        color: white;
    }
    .footer__wrap__logo {
        @extend %message-shared;
        padding-top: 30px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .footer__wrap__rules {
        @extend %message-shared;
        display: flex;
        font-family: $main-font;
        word-spacing: 1px;
        text-decoration: none;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .footer__wrap__rules__lists {
        font-size: 12px;
        padding-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        padding-left: 10px;
        cursor: pointer;
        text-align: center;
        color: rgb(140, 140, 140);
        text-decoration: none;
        &:hover {
            text-shadow: 0 0 10px white, 0 0 20px whie;
            color: white;
        }
    }
    .footer__wrap__brand__top {
        @extend %message-shared;
        margin-top: -14px;
        height: 20px;
        font-family: $main-font;
        word-spacing: 1px;
        font-size: 12px;
        color: rgb(140, 140, 140);
    }
    .footer__wrap__brand__bot {
        @extend %message-shared;
        margin-top: -14px;
        height: 100px;
        font-family: $main-font;
        word-spacing: 1px;
        font-size: 12px;
        color: rgb(140, 140, 140);
    }
    .footer__wrap__logo__brand {
        @extend %message-shared;
        margin-top: -60px;
    }
    .footer__wrap__license {
        @extend %message-shared;
        margin-top: px;
        height: 70px;
        color: #fff;
        word-spacing: 1px;
        padding-top: 5px;
        font-size: 12px;
    }
}